* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bar{
  background-color: red;
  width: 100%;
  margin: auto, auto;
  text-align: center;
  position: fixed;
  top: 1px;
  z-index: 90;
}


/* Non Funziona */
ul li{

  display: inline-block;
  /* display: block; */
  /* width: 100%; */
  background-color: yellow;
  position: fixed;
  z-index: 90;
}

.lay{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
}

.lay:hover{
  background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) );

}

.txt0{
  text-align: center;
  font-size: 4vw;
  text-shadow: 2px 2px 8px;
  font-weight: bold;
  color: #fcba03;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

 .cont0{
  width: 99.2%;
  height: 100vh;
  border: 2px solid black;
  position: relative;
  margin: 7px;
  margin-top: 40px;
  background-image: url(../img/vietnam.jpg);
  background-size: cover;
  /* background-position: center; */
  position: relative;}


.cont1{
  width: 99.2%;
  height: 100vh;
  border: 2px solid black;
  position: relative;
  margin: 7px;
    background-image: url(../img/NY.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.cont2{
  width: 99.2%;
  height: 100vh;
  border: 2px solid black;
  position: relative;
  margin: 7px;
    background-image: url(../img/redsea.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
