* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  font-size: 20px;
  font-weight: bold;
position: fixed;
z-index: 99;
text-align: center;
width: 80%;
display: block;
left: 50%;
transform: translateX(-50%);
}

nav{
  display: block;
  text-align: center;

}

.bar{
  border-radius: 15px;
  background-color: red;
  width: 100%;
  text-align: center;
  top: 1px;
  z-index: 90;
  display: block;
  padding: 10px;
}

ul{
  font-weight: bold;
  border-radius: 15px;
  display: block;
  text-align: center;
  /* background-color: blue; */
  padding: 10px;
  background: rgba(100, 255, 0, 0.5);

}

/* Non Funziona */
ul li{
  font-size: 15px;
  display: inline-block;
  margin: 0 20px;
}

.container{
  top: 90px;
  display: block;
  position: relative;
}

.lay{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
}

.lay:hover{
  background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) );

}

.txt0{
  text-align: center;
  font-size: 4vw;
  text-shadow: 2px 2px 8px;
  font-weight: bold;
  color: #fcba03;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

 .cont0{
   display: block;
  /* width: 99.2%; */
  height: 100vh;
  border: 2px solid black;
  position: relative;
  margin: 0 7px;
  /* margin-top: 40px; */
  background-image: url(../img/vietnam.jpg);
  background-size: cover;
  /* background-position: center; */
  position: relative;
}


.cont1{
  display: block;
  width: 99.2%;
  height: 100vh;
  border: 2px solid black;
  position: relative;
  margin: 7px;
    background-image: url(../img/NY.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.cont2{
  display: block;
  /* width: 99.2%; */
  height: 100vh;
  border: 2px solid black;
  position: relative;
  margin: 7px;
    background-image: url(../img/redsea.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
